/* Paleta de Cores: */
:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}

/* CONFIGURAÇÕES PARA TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }
    
    section#login {
        width: 80vw;
        height: 280px;
    }

    section#login > div#imagem {
        float: left; /* Faz um elemento (como uma imagem ou div) sair do fluxo normal do documento e flutuar para a esquerda ou direita de seu contêiner, permitindo que outros conteúdos (como texto) envolvam e fluam ao redor dele */
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

/* CONFIGURAÇÕES PARA DESKTOP */
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }
    
    section#login {
        width: 950px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1em;
        margin: 10px 0px;
    }
}