/* Paleta de Cores: */
:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; /* Controla como o navegador lida com conteúdo que excede as dimensões de um elemento */

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    
    transform: translate(-50%, -50%); /* Sempre colocar um parâmetro 'transform' no fim do código */
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease; /* Define a curva de velocidade de uma transição */
}

section#login > div#imagem {
    display: block;
    background: var(--lilas) url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: var(--lilas);
    border: 2px solid var(--lilas);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    /* background-color: black; */
    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}

div.campo > input:focus-within{
    /* A pseudoclass ':focus' seleciona um elemento quando ele recebe o foco de entrada */
    background: white;
    border: none;
}

form > input[type=submit] {
    /* O colchetes indicam um seletor de atributo */
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #53aaa7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #6cd3cf;
}

form > a.bottom > span {
    font-size: 0.8em;
}